/media/images
/media/Tex
/media/texts
/media/videos/microcal/480p15/partial_movie_files
/media/videos/persistentcurrent_animation/1080p60/partial_movie_files
/media/videos/persistentcurrent_animation/1080p60/partial_movie_files
/media/videos/persistentcurrent_animation/480p15/partial_movie_files
/media/Tex
*.tex
*.svg
